---
import Column from "@modular/column.astro";
import Link from "@modular/link.astro";
import Row from "@modular/row.astro";
import Stack from "@modular/stack.astro";
import Title from "@modular/title.astro";
import Base from "@layouts/base.astro";
import { Align } from "@lib/align";
import { formatDate } from "@lib/date";
import { getGap } from "@lib/gap";
import { getPaths, getReadTime, renderArticle } from "@services/article";

export async function getStaticPaths() {
    return getPaths();
}

const { article } = Astro.props;
const { Content } = await renderArticle(article);
---

<Base>
    <Column align={Align.START}>
        <Link href="/">← Back</Link>
    </Column>

    <Column>
        <Stack>
            <Title>{article.title}</Title>
            <Row>
                <p>{formatDate(article.date)}</p>
                <p>{getReadTime(article)} min read</p>
            </Row>
        </Stack>

        <section id="content" class={`flex flex-col ${getGap(2)}`}>
            <Content />
        </section>
    </Column>
</Base>
