---
import Column from "@components/column.astro";
import Image from "@components/image.astro";
import Link from "@components/link.astro";
import Nav from "@components/nav.astro";
import Quote from "@components/quote.astro";
import Stack from "@components/stack.astro";
import Title from "@components/title.astro";
import Base from "@layouts/base.astro";
import { Align } from "@lib/align";
import { formatMaxLength } from "@lib/length";
import { convertSlug } from "@lib/slug";
import { getAllPosts } from "@services/post-service";
import { getAllProjects } from "@services/project-service";

const posts = await getAllPosts(false);
const projects = await getAllProjects();
---

<Base>
    <Nav />

    <Column gap={2}>
        <p>
            My name is Kaj and I'm a student at KdG in Antwerp. I love creating
            websites, software and other technological stuff.
        </p>
        <Quote>
            <Link href="/posts/about-me">Click here</Link> if you want to learn more
            about me.
        </Quote>
        <p>
            Contact me via
            <Link href="mailto:contact@niceduck.dev" target="_blank"
                >contact@niceduck.dev</Link
            > and check out my projects on <Link
                href="https://github.com/niceduckdev"
                target="_blank">Github</Link
            >.
        </p>
    </Column>

    <Column>
        <Title>Posts 📝</Title>
        <Column align={Align.START} gap={3}>
            {
                posts.map((post: any) => (
                    <Link href={`/posts/${convertSlug(post.data.title)}`}>
                        {formatMaxLength(post.data.title)}
                    </Link>
                ))
            }
        </Column>
    </Column>

    <Column>
        <Title>Projects 🔨</Title>
        <Column align={Align.START} gap={3}>
            {
                projects.map((project: any) => (
                    <Stack>
                        <Link
                            href={`/projects/${convertSlug(project.data.title)}`}
                        >
                            {formatMaxLength(project.data.title)}
                        </Link>
                        <p class="text-base">{project.data.description}</p>
                    </Stack>
                ))
            }
        </Column>
    </Column>
</Base>
