---
import Card from "@components/card.astro";
import Column from "@components/column.astro";
import Image from "@components/image.astro";
import Link from "@components/link.astro";
import Quote from "@components/quote.astro";
import Title from "@components/title.astro";
import Base from "@layouts/base.astro";
import { Align } from "@lib/align";
import { formatDate } from "@lib/date";
import { formatMaxLength } from "@lib/length";
import { convertSlug } from "@lib/slug";
import { getAllPosts } from "@services/post-service";
import { getAllProjects } from "@services/project-service";

const posts = await getAllPosts(false);
const projects = await getAllProjects();
---

<Base>
    <Column>
        <Title>about me</Title>
        <Column gap={2}>
            <p>
                My name is Kaj and I'm a student at KdG in Antwerp. I love
                creating websites, software and other technological stuff.
            </p>
            <p>
                You can contact me at
                <Link href="mailto:contact@niceduck.dev" target="_blank"
                    >contact@niceduck.dev</Link
                > and check out my projects on <Link
                    href="https://github.com/niceduckdev"
                    target="_blank">Github</Link
                >.
            </p>

            <Quote
                >Want to learn more <Link href="/posts/about-me">about me</Link
                >?</Quote
            >
        </Column>
    </Column>

    <Image src="quack.webp" />

    <Column>
        <Title>posts</Title>
        <Column align={Align.START}>
            {
                posts.map((post: any) => (
                    <Link href={`/posts/${convertSlug(post.data.title)}`}>
                        {formatMaxLength(post.data.title)}
                    </Link>
                ))
            }
        </Column>
    </Column>

    <Column>
        <Title>projects</Title>
        <Column gap={4}>
            {
                projects.map((project: any) => (
                    <Card
                        title={project.data.title}
                        description={project.data.description}
                        image={
                            project.data.image
                                ? `projects/${project.data.image}`
                                : "null.webp"
                        }
                        date={formatDate(project.data.date)}
                        href={`/projects/${convertSlug(project.data.title)}`}
                    />
                ))
            }
        </Column>
    </Column>
</Base>
