---
import { Align } from "@lib/align";
import { formatDate } from "@lib/date";
import { getGap } from "@lib/gap";
import { Justify } from "@lib/justify";
import { formatMaxLength } from "@lib/length";
import Column from "@modular/column.astro";
import Image from "@modular/image.astro";

const { project } = Astro.props;
---

<article
    class={`group relative grid grid-cols-1 sm:grid-cols-[200px_1fr] ${getGap(4)}`}
>
    <Image src={`${project.slug}/${project.image}`} fill={true} />

    <section class="py-2">
        <Column justify={Justify.BETWEEN} gap={1} fill={true}>
            <Column align={Align.START} gap={1}>
                <Column gap={0}>
                    <h2 class="text-lg">{project.title}</h2>
                    <p class="text-sm">{formatDate(project.date)}</p>
                </Column>
                <p>{formatMaxLength(project.description, 75)}</p>
            </Column>
            <p>{project.tags.join("  |  ")}</p>
        </Column>
    </section>
</article>
