---
import {render} from 'astro:content';
import Link from "@components/modular/link.astro";
import {getAllProjects} from "@services/projects";
import Layout from "@layouts/content.astro";
import {getReadTime} from "@lib/time";
import {getSeparator} from "@lib/list";

export async function getStaticPaths() {
    const projects = await getAllProjects();
    return projects.map((project) => ({
        params: {slug: project.id},
        props: project,
    }));
}

const project = Astro.props;
const {Content, headings} = await render(project);
---

<Layout
        title={project.data.title}
        meta={{
            date: project.data.date,
            readTime: getReadTime(project.body ?? "")
        }}
        back={{title: "Projects", href: "/projects"}}
        headings={headings}
>
    <Fragment slot="team">
        {project.data.team && (
                <p>
                    Built together with{" "}
                    {project.data.team?.map((user, index: number) => (
                            <Fragment>
                                {getSeparator(index, project.data.team?.length ?? 0)}
                                {
                                    user.website ? (
                                            <Link href={user.website}>{user.name}</Link>
                                    ) : (
                                        user.name
                                    )
                                }
                            </Fragment>
                    ))}
                </p>
        )}
    </Fragment>

    <Fragment slot="content">
        <Content/>
    </Fragment>
</Layout>