---
import Column from "@modular/column.astro";
import "@styles/global.css";
import Base from "@layouts/base.astro";
import Link from "@components/modular/link.astro";
import Row from "@components/modular/row.astro";
import ArrowLeft from "@components/modular/icons/arrow-left.astro";
import {Align} from "@lib/align";
import Stack from "@components/modular/stack.astro";
import Title from "@components/modular/title.astro";
import {formatDate} from "@lib/date";
import type {MarkdownHeading} from "astro";
import OnThisPage from "@components/on-this-page.astro";
import {Gap} from "@lib/gap";

interface Props {
    title: string;
    meta?: {
        date: Date;
        readTime: number;
    }
    back: {
        title: string;
        href: string;
    };
    headings?: MarkdownHeading[];
}

const {title, meta, back, headings} = Astro.props
---

<Base>
    <div
            class="relative w-full h-full mx-auto max-w-384 flex flex-col gap-2 xl:flex-row"
    >
        <aside
                class="w-full h-full mx-auto max-w-3xl flex flex-col justify-between gap-4 sticky top-0 z-50 bg-light/90 dark:bg-dark/90 backdrop-blur-2xl xl:sticky xl:top-0 xl:left-0 xl:max-w-sm xl:min-h-svh"
        >
            <nav class="p-4 xl:p-8">
                <Column align={Align.START}>
                    <Link href={back.href}>
                        <Row align={Align.CENTER}>
                            <ArrowLeft/>
                            {back.title}
                        </Row>
                    </Link>
                </Column>
            </nav>

            {
                headings && (
                            <OnThisPage
                                    headings={headings.filter((heading) => heading.depth === 1)}
                            />
                )
            }
        </aside>

        <main
                class="w-full h-full mx-auto shrink-0 max-w-3xl px-4 xl:my-8 overflow-hidden"
        >
            <Column gap={Gap.SMALL}>
                <Stack>
                    <Title>{title}</Title>
                    {
                        meta && (
                                    <Row gap={Gap.SMALL}>
                                        <p>{formatDate(meta.date)}</p>
                                        •
                                        <p>{meta.readTime} min read</p>
                                    </Row>
                        )
                    }

                    <slot name="team"/>
                </Stack>

                <section id="content" class={`flex flex-col ${Gap.MEDIUM}`}>
                    <slot name="content"/>
                </section>
            </Column>
        </main>

        <aside
                class="w-full h-full mx-auto max-w-3xl xl:sticky xl:top-0 xl:left-0 xl:max-w-sm flex flex-col gap-4 xl:min-h-svh"
        >
        </aside>
    </div>
</Base>
