---
import {Align} from "@lib/align";
import {formatDate} from "@lib/date";
import {Justify} from "@lib/justify";
import {formatMaxLength} from "@lib/length";
import Column from "@modular/column.astro";
import Image from "@modular/image.astro";
import {Gap} from "@lib/gap";
import {getSeparator} from "@lib/list";

interface Props {
    title: string;
    date: Date;
    description: string;
    tags: string[];

    href: string;
    image: string;
}

const {title, date, description, tags, href, image} = Astro.props;
---

<article
        class={`group relative grid grid-cols-1 sm:grid-cols-[200px_1fr] ${Gap.MEDIUM} isolate w-full`}
>
    <a
            href={href}
            class="absolute inset-0 z-10 group"
            aria-label={title}></a>
    <Image src={image} hover={true} fill={true}/>

    <section class="py-2">
        <Column justify={Justify.BETWEEN} gap={Gap.SMALL} fill={true}>
            <Column align={Align.START} gap={Gap.SMALL}>
                <Column gap={Gap.NONE}>
                    <h2 class="text-lg">{title}</h2>
                    <p class="text-sm">{formatDate(date)}</p>
                </Column>

                <p>{formatMaxLength(description, 75)}</p>
            </Column>
            <p>
                {tags.map((tag, index: number) => (
                        <Fragment>
                            {getSeparator(index, tags.length)}
                            {tag}
                        </Fragment>
                ))}
            </p>
        </Column>
    </section>
</article>
