---
import { Align } from "@lib/align";
import { formatDate } from "@lib/date";
import { getGap } from "@lib/gap";
import { Justify } from "@lib/justify";
import { formatMaxLength } from "@lib/length";
import type { Article } from "@models/article";
import type { Project } from "@models/project";
import Column from "@modular/column.astro";
import Image from "@modular/image.astro";
import Link from "@modular/link.astro";

interface Props {
    content: Article | Project;
    href: string;
}

const { content, href } = Astro.props;
---

<article class={`grid grid-cols-1 sm:grid-cols-[200px_1fr] ${getGap(4)}`}>
    <Image src={`articles/${content.slug}/${content.image}`} hover={true} />

    <section class="py-2">
        <Column justify={Justify.BETWEEN} gap={1} fill={true}>
            <Column align={Align.START} gap={1}>
                <Column gap={0}>
                    <Link href={href}>
                        <h2 class="text-lg">
                            {content.title}
                        </h2>
                    </Link>
                    <p class="text-sm">
                        {formatDate(content.date)}
                    </p>
                </Column>

                <p>
                    {formatMaxLength(content.description, 75)}
                </p>
            </Column>
            <p>{content.tags.join("  |  ")}</p>
        </Column>
    </section>
</article>
