---
import {Gap} from "@lib/gap";
import {Align} from "@lib/align";
import {Justify} from "@lib/justify";

interface Props {
    gap?: Gap;
    align?: Align;
    justify?: Justify;
    fill?: boolean;
}

const {gap, align, justify, fill} = Astro.props;
---

<section
        class={`flex flex-col ${gap ?? Gap.MEDIUM} ${align} ${justify} ${fill ? "h-full" : ""}`}
>
    <slot/>
</section>
